<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="post">
  <label for="sub_name">Name</label>
  <input type="text" name="sub[name]" id="sub_name" value="<%= @sub.name %>">
  <br>
  <input type="hidden" name="sub[moderator]" value="<%= @current_user.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="post">
  <input type="submit" value="Update Sub">
</form>